<div style="height: 87%; margin-top: 50px; color: white">
  <div class="container-lg" id="container"
       style="display: grid; flex-flow: wrap; height: 96%; justify-content: center; overflow-x: hidden; overflow-y: auto">

    <div style="display: grid; text-align: center">
      <h4 style="margin-top: 5px">Weitere Rezepte könnt Ihr uns gerne hier zukommen lassen: </h4>
      <p>Am besten mit Bild, dass alle wissen, was am Ende rauskommen soll. </p>
      <div style="display: inline-flex">
        <div style="margin-right: 50px;">Email:</div>
        <div style="color: rgb(59 199 96);">
          ccc-oberesbuehlertal@gmx.de
        </div>
      </div>
      <div style="display: inline-flex">
        <div style="margin-right: 50px;">Instagram:</div>
        <div>
          <a href="https://instagram.com/ccc_oberesbuehlertal?igshid=jny1x5dq5c2z" target="_blank"
             style="color: rgb(59 199 96)">
            ccc_oberesbuelertal</a>
        </div>
      </div>

      <div style="display: inline-flex">
        <div style="margin-right: 50px;">Facebook:</div>
        <div>
          <a href="https://facebook.com/CCC-OberesBühlertal-106575434588752/" target="_blank"
             style="color: rgb(59 199 96)">
            CCC-OberesBühlertal</a>
        </div>
      </div>
    </div>

    <div>
      <h4 style="margin-top: 15px; margin-bottom: 20px; text-align: center">Und schaut weiter fleißig unsere Videos, wir freuen uns</h4>
      <div style="display: inline-flex">
        <div style="margin-right: 50px;">Youtube:</div>
        <div>
          <a href="https://www.youtube.com/channel/UCXQwVLR292UGrezxTyuNLCw" target="_blank"
             style="color: rgb(59 199 96)">
            ccc_oberesbuelertal</a>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; text-align: center">
      <div style="margin-right: 20px; align-self: center; font-size: 25px">Eure Covid-Chaos-(Cooking)-Crew</div>
      <img style="width: 102px; height: 150px" class="navbar-brand" [src]="'./assets/logo/test.png'"/>
    </div>
  </div>
</div>
