#container{
  box-shadow: inset 1px 0px 24px -14px rgba(89,89,89,1);
  background-color: rgba(54, 65, 52, 0.8);
  justify-content: center;
  border-bottom: 5px solid rgba(54, 65, 52, 0.5);
  font-size: 18px;
}
