<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img  style="width: 75px; cursor: pointer" class="navbar-brand" href="#" [src]="'./assets/logo/test.png'"
     (click)="refresh()"/>
    <button class="navbar-toggler" type="button" (click)="isCollapsed =!isCollapsed"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed"
         (click)="isCollapsed = !isCollapsed">
      <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="selected" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appetizer" routerLinkActive="selected" href="#">Vorspeisen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cooking" routerLinkActive="selected" href="#">Kochen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/baking" routerLinkActive="selected" href="#">Backen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dessert" routerLinkActive="selected" href="#">Nachspeisen</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="selected" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
